body {
  background-color: #ecf0f1 !important;
  color: #efefef;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.header-top {
  color: #555;
  background-color: #ddd;
  background-repeat: repeat-x;
  border-bottom: 1px solid #ccc;
  font-size: 13px;
  line-height: 20px;
  padding: 6px 16px;
}

.header-top a {
  font-weight: bold;
}

.header-top select {
  float: right;
  margin-right: 6px;
}

.header-users {
  background-color: #3cc0bf;
}

.container {
  padding-top: 15px;
  padding-bottom: 15px;
  width: auto !important;
}

ul.pulls {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.15em;
}

ul.pulls li {
  margin-bottom: 10px;
  padding: 0 20px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.pulls li:last-child {
  margin-bottom: 0;
}

ul.pulls li .link, ul.pulls li .pull-right {
  white-space: nowrap;
}

ul.pulls li.status {
    background-color: #202831;
}
ul.pulls li.status.success {
    background-color: #39c5a0;
}
ul.pulls li.status.failure, ul.pulls li.status.error {
    background-color: #ac3939;
}
ul.pulls li.status.pending {
    background-color: #cea61b;
}
ul.pulls li .avatar {
  margin: 5px 5px 5px -15px;
  border-radius: 9000px;
  height: 30px;
  vertical-align: middle;
}

ul.pulls li a, ul.pulls li span {
  color: #fff;
}

ul.pulls .date {
  margin-left: 12px;
}
ul.pulls .repo {
    font-weight: bold;
}

.pull-right {
  float: right;
  text-align: right;
}

.clearer {
  line-height: 0;
  clear: both;
}

.popover-content {
  padding: 9px 14px;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.popover-container {
  position: relative;
}

.popover.bottom {
  margin-top: 26px;
}
.popover {
  border-color: #eee;
  border-bottom: 2px solid #e4eaec;
  border-radius: 3px;
}
.progress, .progress .progress-bar, .popover {
  box-shadow: 0 0 0 #000;
}
.popover {
  position: absolute;
  top: 0;
  left: -155px;
  z-index: 9;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e1e1e1;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  white-space: normal;
}

.popover.bottom>.arrow {
  right: 0;
  margin-left: -22px;
  border-top-width: 0;
  border-bottom-color: #fff;
  top: -11px;
}
.popover>.arrow {
  border-width: 11px;
}
.popover>.arrow, .popover>.arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover li {
  border-bottom: 1px solid #ccc;
}
.popover li:last-child {
  border-bottom: 0;
}

.popover .login-li {
  color: #373;
}
.popover .logout-li {
  color: #a44;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pr-counter {
  margin-right: 10px;
}

.badge {
  color: #000 !important;
  font-weight: normal !important;
  padding: 0.4em 0.8em !important;
}

.badge-label {
  margin-left: 4px;
}

.badge-milestone {
  background-color: white !important;
  margin-right: 4px;
}

.tab-content {
  padding: 1em 1em 0;
  margin-bottom: 1em;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-width: 0;
}

.bs-callout {
  padding: 0 1em;
  margin-bottom: 1em;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout-info {
  border-left-color: #1b809e;
}
.bs-callout-info h4 {
  color: #1b809e;
}

.table label {
  font-weight: normal;
}

.form-control {
  margin-bottom: 0.5em;
}

ul.inline li {
  display: inline-block;
  margin-bottom: 0.5em;
}

table .empty {
  text-align: center;
}

.btn-stack-right {
  margin-right: 0.5em;
}